DATABASE_URL="postgresql://hamster_user:dev_password@db:5432/hamster_manager_dev?schema=public"

POSTGRES_DB="hamster_manager_dev"
POSTGRES_USER="hamster_user"
POSTGRES_PASSWORD="dev_password"

AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_URL="http://localhost:3001"
AUTH_TRUST_HOST=true

LOG_LEVEL=debug
LOG_DIR=/app/logs
LOG_RETENTION_DAYS=14
LOG_MAX_FILE_SIZE_MB=20

HAMSTER_IMAGE_DIR=/app/uploads/hamsters
