.env
.env.development
.env.production
.env*.local
node_modules
.next
out
coverage
dist
*.tsbuildinfo
*.log
logs/
uploads/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.reference-HamsterManagerTable
docker-compose.override.yml
